<div class="dropdown" id="{{ include.id }}">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Bits
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" number-of-bits="1">Bits</a></li>
        <li><a class="dropdown-item" number-of-bits="8">Bytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1000">Kilobits</a></li>
        <li><a class="dropdown-item" number-of-bits="1024">Kibibits</a></li>
        <li><a class="dropdown-item" number-of-bits="8000">Kilobytes</a></li>
        <li><a class="dropdown-item" number-of-bits="8192">Kibibytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1000000">Megabits</a></li>
        <li><a class="dropdown-item" number-of-bits="1048576">Mebibits</a></li>
        <li><a class="dropdown-item" number-of-bits="8000000">Megabytes</a></li>
        <li><a class="dropdown-item" number-of-bits="8388608">Mebibytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1000000000">Gigabits</a></li>
        <li><a class="dropdown-item" number-of-bits="1073741824">Gibibits</a></li>
        <li><a class="dropdown-item" number-of-bits="8000000000">Gigabytes</a></li>
        <li><a class="dropdown-item" number-of-bits="8589934592">Gibibytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1000000000000">Terabits</a></li>
        <li><a class="dropdown-item" number-of-bits="1099511627776">Tebibits</a></li>
        <li><a class="dropdown-item" number-of-bits="8000000000000">Terabytes</a></li>
        <li><a class="dropdown-item" number-of-bits="8796093022208">Tebibytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1000000000000000">Petabits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Pebibits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Petabytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Pebibytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Exabits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Exbibits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Exabytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Exbibytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Zetabits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Zebibits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Zetabytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Zebibytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Yottabits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Yibibits</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Yottabytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1">Yobibytes</a></li>
    </ul>
</div>