<div class="dropdown" id="{{ include.id }}">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Bits
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" number-of-bits="1">Bits</a></li>
        <li><a class="dropdown-item" number-of-bits="8">Bytes</a></li>
        <li><a class="dropdown-item" number-of-bits="1000">Kilobits</a></li>
        <li><a class="dropdown-item" number-of-bits="1024">Kibibits</a></li>
        <li><a class="dropdown-item" number-of-bits="8000">Kilobytes</a></li>
    </ul>
</div>