<div class="dropdown" id="{{ include.id }}">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" utc-offset="0">
        (UTC) Greenwich Mean Time
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="overflow-y:auto; max-height:15em">
        <li><a class="dropdown-item" utc-offset="0">(UTC) Greenwich Mean Time</a></li>
        <li><a class="dropdown-item" utc-offset="-12">(UTC-12) US Minor Outlying Islands</a></li>
        <li><a class="dropdown-item" utc-offset="-11">(UTC-11) American Samoa</a></li>
        <li><a class="dropdown-item" utc-offset="-10">(UTC-10) Honolulu</a></li>
        <li><a class="dropdown-item" utc-offset="-9">(UTC-9) Anchorage</a></li>
        <li><a class="dropdown-item" utc-offset="-8">(UTC-8) Los Angeles</a></li>
        <li><a class="dropdown-item" utc-offset="-7">(UTC-7) Denver</a></li>
        <li><a class="dropdown-item" utc-offset="-6">(UTC-6) Chicago</a></li>
        <li><a class="dropdown-item" utc-offset="-5">(UTC-5) New York</a></li>
        <li><a class="dropdown-item" utc-offset="-4">(UTC-4) Halifax</a></li>
        <li><a class="dropdown-item" utc-offset="-3">(UTC-3) Buenos Aires</a></li>
        <li><a class="dropdown-item" utc-offset="-2">(UTC-2) Greenland</a></li>
        <li><a class="dropdown-item" utc-offset="-1">(UTC-1) Greenland</a></li>
        <li><a class="dropdown-item" utc-offset="+1">(UTC+1) Berlin</a></li>
        <li><a class="dropdown-item" utc-offset="+2">(UTC+2) Cairo</a></li>
        <li><a class="dropdown-item" utc-offset="+3">(UTC+3) Moscow</a></li>
        <li><a class="dropdown-item" utc-offset="+4">(UTC+4) Dubai</a></li>
        <li><a class="dropdown-item" utc-offset="+5">(UTC+5) Karachi</a></li>
        <li><a class="dropdown-item" utc-offset="+6">(UTC+6) Dhaka</a></li>
        <li><a class="dropdown-item" utc-offset="+7">(UTC+7) Bangkok</a></li>
        <li><a class="dropdown-item" utc-offset="+8">(UTC+8) Shanghai</a></li>
        <li><a class="dropdown-item" utc-offset="+9">(UTC+9) Tokyo</a></li>
        <li><a class="dropdown-item" utc-offset="+10">(UTC+10) Sydney</a></li>
        <li><a class="dropdown-item" utc-offset="+11">(UTC+11) Solomon Islands</a></li>
        <li><a class="dropdown-item" utc-offset="+12">(UTC+12) Auckland</a></li>
    </ul>
</div>