<div class="dropdown" id="{{ include.id }}">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        (UTC) Greenwich Mean Time
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="overflow-y:auto; max-height:15em">
        <li><a class="dropdown-item" utc-offset="0">(UTC) Greenwich Mean Time</a></li>
        <li><a class="dropdown-item" utc-offset="-5">(UTC-5) America/New York</a></li>
    </ul>
</div>