---
layout: default
---

<br />
<h2>Storage Size converter</h2>

<br />
{% include storage_size_dropdown_menu.html id="drpInputSize" %}
<br />
<input id="inputValue" type="number" class="form-control w-50" value="0" />
<br />
<hr class="mt-2 mb-3"/>
<br />
{% include storage_size_dropdown_menu.html id="drpOutputSize" %}
<br />
<h3 id="outputValue">0</h3>

<script>
    let selectedInputNumberOfBits = 1;
    let selectedOutputNumberOfBits = 1;

    function convert() {
        var inputValue = parseFloat($("#inputValue").val());
        if (isNaN(inputValue)) {
            inputValue = 0;
        }

        var numberOfBits = inputValue * selectedInputNumberOfBits;
        var output = numberOfBits / selectedOutputNumberOfBits;
        $("#outputValue").text(output);
    }

    $(document).ready(function() {
        $("#drpInputSize .dropdown-item").click(function() {
            var selectedValue = this.innerHTML
            selectedInputNumberOfBits = parseInt($(this).attr("number-of-bits"));
            $("#drpInputSize .dropdown-toggle").text(selectedValue);
            convert();
        });

        $("#drpOutputSize .dropdown-item").click(function() {
            var selectedValue = this.innerHTML
            selectedOutputNumberOfBits = parseInt($(this).attr("number-of-bits"));
            $("#drpOutputSize .dropdown-toggle").text(selectedValue);
            convert();
        });

        $("#inputValue").keyup(function() {
            convert();
        });
    });
</script>