---
title: Time zone converter
description: Convert between different time zones with this tool
layout: default
---

<style>
    #spnInputTime, #spnInputDate {
        font-family: DigitalSeven;
    }

    #txtTimeInput, #txtDateInput {
        /*font-size: 4vw;*/
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #495057
    }

    #h2CurrentLocalTime {
        font-size: 5vw;
        font-family: DigitalSeven;
    }
</style>

<br />
<h2>Time zone converter</h2>

<br />
<div>
    {% include time_zone_dropdown_menu.html id="drpInputZone" %}
</div>

<br />
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="chkInputDaylightSavings" />
    <label class="form-check-label" for="chkInputDaylightSavings">Daylight savings time</label>
</div>

<br />
<div class="w-100">
    <h1 id="h1InputDateTime">
        <span id="spnInputTime">
            <input type="time" value="" id="txtTimeInput" />
        </span>
        <span>

        </span>
        <span id="spnInputDate">
            <input type="date" value="" id="txtDateInput"/>
        </span>
    </h1>
</div>

<br />
<hr class="mt-2 mb-3"/>
<br />

<div>
    {% include time_zone_dropdown_menu.html id="drpOutputZone" %}
</div>

<br />
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="chkOutputDaylightSavings" />
    <label class="form-check-label" for="chkOutputDaylightSavings">Daylight savings time</label>
</div>

<br />
<div class="w-100">
    <h4 id="h2CurrentLocalTime">
        --
    </h4>
</div>

<script>
    let inputUTCOffset = 0;
    let outputUTCOffset = 0;
    let outputTzId = "Etc/Greenwich";

    function addHoursToDate(date, hours) {
        return new Date(new Date(date).setHours(date.getHours() + hours));
    }

    function set_offset() {
        var baseInputOffset = parseInt($("#drpInputZone").attr("utc-offset"));
        var baseOutputOffset = parseInt($("#drpOutputZone").attr("utc-offset"));

        if ($("#chkInputDaylightSavings").is(':checked')) {
            baseInputOffset = baseInputOffset + 1;
        }

        if ($("#chkOutputDaylightSavings").is(':checked')) {
            baseOutputOffset = baseOutputOffset + 1;
        }

        inputUTCOffset = baseInputOffset;
        outputUTCOffset = baseOutputOffset;
        outputTzId = $("#drpOutputZone").attr("tz-id");
    }

    function do_convert() {
        try {
            var dateString = $("#txtDateInput").val();
            var timeString = $("#txtTimeInput").val();
            var plusMinus = inputUTCOffset >= 0 ? "+" : "-";
            var timeZoneHour = (Math.abs(Math.floor(inputUTCOffset))).toString();

            if (timeZoneHour.length == 1) {
                timeZoneHour = "0" + timeZoneHour;
            }

            var timeZoneMinutes = "00";
            if (!Number.isInteger(inputUTCOffset)) {
                var timeZoneFraction = (inputUTCOffset + "").split(".")[1];
                if (timeZoneFraction < 10) {
                    timeZoneFraction = timeZoneFraction * 10;
                }
                timeZoneMinutes = (timeZoneFraction / (5.0 / 3.0)).toString();
            }

            if (timeZoneMinutes.length == 1) {
                timeZoneMinutes = "0" + timeZoneMinutes;
            }

            var inputDateTimeString = `${dateString}T${timeString}:00.000${plusMinus}${timeZoneHour}:${timeZoneMinutes}`;
            var inputDateTime = new Date(inputDateTimeString);
            if ($("#chkOutputDaylightSavings").is(':checked')) {
                inputDateTime = addHoursToDate(inputDateTime, 1);
            }

            const outputOptions = {
                timeZone: outputTzId,
                hour: "numeric",
                minute: "numeric",
                second: "numeric",
                year: "numeric",
                month: "numeric",
                day: "numeric",
            };
            const formatter = new Intl.DateTimeFormat([], outputOptions);
            const outputDateTimeString = formatter.format(inputDateTime);
            $("#h2CurrentLocalTime").text(outputDateTimeString);
        } catch (e) {
            $("#h2CurrentLocalTime").text("Error");
        }
    }

    $(document).ready(function() {

        $("#drpInputZone .dropdown-item").click(function() {
            var selectedValue = this.innerHTML;
            inputUTCOffset = parseFloat($(this).attr("utc-offset"));
            $("#drpInputZone .dropdown-toggle").text(selectedValue);
            $("#drpInputZone").attr("utc-offset", inputUTCOffset);
            $("#drpInputZone").attr("tz-id", $(this).attr("tz-id"));
            set_offset();
            do_convert();
        });

        $("#drpOutputZone .dropdown-item").click(function() {
            var selectedValue = this.innerHTML;
            outputUTCOffset = parseFloat($(this).attr("utc-offset"));
            $("#drpOutputZone .dropdown-toggle").text(selectedValue);
            $("#drpOutputZone").attr("utc-offset", outputUTCOffset);
            $("#drpOutputZone").attr("tz-id", $(this).attr("tz-id"));
            set_offset();
            do_convert();
        });

        $("#chkInputDaylightSavings").click(function() {
            set_offset();
            do_convert();
        });

        $("#chkOutputDaylightSavings").click(function() {
            set_offset();
            do_convert();
        });
    });
</script>